*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
display: flex;
background: url(img/bg.png) no-repeat ;
background-attachment: fixed;
background-size:cover;
}


.githubURL{ 
    margin-left: 1212px;
    margin-top: 30px;
}

.slackDisplayImage img {
    position: relative;
    height: 260px;
    width: 260px;
}

.slackDisplayImage {
    padding-left: 130px;
    margin-top: 6px;
}

.slackUserName {
    color: #FFF;
    font-family: Josefin Slab;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 190px;
}

.track {
  position: relative;
  margin-top: -88px;
}
.myTrack {
    position: absolute;
    color: #FFF;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 880px; 
    top: -29px;
}

.line-container {
    position: relative;
}
.line {
    position: absolute;
    border: none;
    height: 43px;
    background-color: white;
    width: 3px;
    margin-top: -107px;
    right: 375px;
}

.container{
    position: relative;
    
}

.day {
    position:absolute;
    color: #FFF;
    font-family: Jost;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    right: -26px;
    top: 90px;
   
}

.time {
    position:absolute;
    color: #FFF;
    font-family: Jost;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    right: -26px;
    bottom: -179px;

}

.mobileImage {
  display: none;
}


@media (max-width: 768px) {

  body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: url(img/mobile.png) no-repeat ;
    background-attachment: fixed;
    background-size:cover;
    }

    .mobileImage img{
      position: relative;
    }
    .mobileImage {
      position: absolute;
      display: block;
      width: 100%;
      margin-top: 43%;
      left: 1%;
    }

    .githubURL {
      margin-left: 350px;
      margin-top: 16px; 
    }

    .githubURL i.fa-github{
      font-size: 25px;
      position: relative;
      top: 30px;
    }
  
    .slackDisplayImage {
      display: none;
    }
  
    .slackUserName {
      font-size: 60px;
      padding-left: 20px; 
      margin-top: 50px;
    }
  
    .myTrack {
      font-size: 18px; 
      padding-left: 138px;
      margin-top: 38px; 
      font-size: 29px;
    }
  
    .line {
      display: none;
      margin-top: -35px; 
      right: 50px; 
    }
  
    .container { 
      margin-top: 10px; 
    }
  
    .day {
      font-size: 29px; 
      left: 17px;
      top: 97px; 
    }
  
    .time {
      font-size: 29px; 
      left: 17px;
      top: 127px; 
    }
  }
  